<div class="jumbotron border ">
    <h1 class="mx-auto display-4 text-center">Chat Messages</h1>
    <div class="border mx-auto rounded" style="height: 400px;width: 90%; overflow:scroll;">
        <ul id="msgToInsert" style="list-style: none;">
        </ul>
    </div>
    <div class="mb-3">
        <label for="user" class="form-label">Usuario</label>
        <input id="user" required type="text" name="user" class="form-control">
    </div>
    <div class="mb-3">
        <label for="mensaje" class="form-label">Meensaje</label>
        <input id="msg" required type="text" name="mensaje" class="form-control">
    </div>
    <div class="mb-3">
        <button id="btn-msg" class="float-end btn btn-primary">Submit</button>
    </div>
</div>
<script>
    var socket = io()
    const btnMsg = document.querySelector("#btn-msg")
    const msgToInsert = document.querySelector("#msgToInsert")
    const user = document.querySelector("#user")
    const msg = document.querySelector("#msg")

    btnMsg.addEventListener('click', () =>
    {
        let obj = {
            user: user.value,
            msg: msg.value
        }
        socket.emit("msg", obj)
    });


    socket.on("msg", (obj) =>
    {
        let text =
            `<li style="font-size: 20px; list-style: none;"><span style="color:blue">${obj.user}: </span> <span style="color:green">${obj.msg}</span> @<span style="color:brown"> ${obj.date}</span></li><hr/>`
        msgToInsert.insertAdjacentHTML("afterbegin", text)
    })
</script>
