
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/api/productos">Listar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/productos/new">Nuevo Producto</a>
            </li>
        </ul>
