- const value = edit ? [edit.title, edit.price, edit.thumbnail] : []
.mb-3
  label.form-label(for='title') Titulo:
  input.form-control(required='' type='text' name='title' value=value[0])
.mb-3
  label.form-label(for='price') Precio:
  input.form-control(required='' type='number' name='price' value=value[1])
.mb-3
  label.form-label(for='thumbnail') Thumbnail
  input.form-control(required='' type='text' name='thumbnail' value=value[2])
button.float-end.btn.btn-primary(type='submit') Submit


