<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Agregar Porducto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css"> {{!--
    <script src="/socket.io/socket.io.js"></script> --}}
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">
        {{> _navbar}} {{> _product}} {{> _table}}
    </div>
    <div id="test">

    </div>
    <script>
        var socket = io()
        const tbody = document.querySelector('tbody')
        const btnAdd = document.querySelector('button')
        btnAdd.addEventListener('click', (e) => {
            const inputs = document.querySelectorAll("input")
            const title = inputs[0].value
            const price = inputs[1].value
            const thumbnail = inputs[2].value
            const obj ={title,price, thumbnail}
            addHtml = `<tr> <th scope="row"><a href="/api/productos/{{this.id}}">{{this.id}}</a></th>
            <td>${title}</td> <td>${price}</td> <td>${thumbnail}</td> <td> <a href="/api/productos/edit/{{this.id}}">Edit</a> <a href="/api/productos"   onclick="borrarProducto({{this.id}})">Borrar</a> </td> </tr> `
            socket.emit('mensaje', obj)
            tbody.insertAdjacentHTML('beforeend', addHtml)

        })
    </script>
</body>
