doctype html
head
  meta(charset='UTF-8')
  title Agregar Porducto
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/bootstrap.css')
.container
  include ../partials/_navbar
  form(action='/api/productos' method='post')
    .jumbotron.mt-5
      legend Nuevo Producto
      include ../partials/_product.pug
